# Image Download ------------------------------
simple_image_download==0.4

# Image annotation ----------------------------
labelImg

# OpenCV --------------------------------------
argparse
pafy
youtube-dl